.welcome-titulo{
    font-size: 80px;
    color: #004d2a;
    font-weight: bold;
    line-height: 50px;
}
.h5-welcome{
    font-weight: bold;
}
.p-welcome{
    font-size: 18px; 
    text-align: justify;
    line-height: 1.3;
}
.btn-home{
    font-weight: bold;
    background-color: #004d2a;

}

@media (max-width: 780px){
    .hide-img-home{
        display: none !important;
    }
}